<?xml version="1.0" encoding="UTF-8"?>

<!--
  NOT USED.  THis is a module, not a plugin
-->
<plugin>
    <class>net.fosterzor.openfire.crowd.CrowdAuthPlugin</class>
    <name>Crowd Authentication and Group Provider</name>
    <description>Authenticates through Atlassian Crowd</description>
    <author>Ben Foster</author>
    <version>1.0.0</version>
    <date>12/22/2011</date>
    <minServerVersion>3.7.0</minServerVersion>
    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="crowd-auth-props-edit-form" name="Crowd Authentication Settings"
                      url="crowd-auth-props-edit-form.jsp"
                      description="Configure Crowd Authentication Settings"/>
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
