<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration for the broadcast plugin.
-->
<plugin>
    <class>net.fosterzor.openfire.crowd.CrowdAuthPlugin</class>
    <name>Crowd Authentication and Group Provider</name>
    <description>Authenticates through Atlassian Crowd</description>
    <author>Ben Foster</author>
    <version>1.0.0</version>
    <date>12/22/2011</date>
    <minServerVersion>3.7.0</minServerVersion>
</plugin>
